.spinner {
	font-size: 1em;
	width:1.55em;
	height:1em;
	display: inline-block;
	line-height:1em;
	overflow: hidden;
}

.spinner:after {
	content: "\25CF";
	display:inline-block;
	animation: spin 1s steps(4) infinite;
}

@keyframes spin { to { transform:translateX(2em); } }